.user-list{
    width: 200px;
    min-width: 200px;
    padding: 30px;
    box-sizing: border-box;
    background: #fbfbfb;
    color: var(--heading-color);
}

.user-list h2{
    text-align: right;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1.2em;
}

.user-list .user-list-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px auto;
}

.user-list .user-list-item .online-user{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0ebb50;
    margin-right: 10px;
}

.user-list .avatar{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}